body {
	font: 300 16px/1.4 'Roboto', sans-serif;
	color: #414141;
	padding: 4em;
	line-height: 1.4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
  color: #02aec8;
}
h1 {
	font-size: 2.6em;
}
h2 {
    font-weight: 400;
    margin-bottom: 1em;	
}
ul {
	list-style: none;
	margin: 2em 0;
	font-size: 0.9em;
}
mark {
    background-color: #ffde00;
    padding: 1px 4px 4px;
}
footer {
  margin-top: 40px;
}
/* 
div {
    width: 160px;
    height: 160px;
    background: url(https://goo.gl/BeSyyD);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 80%;
}


@media screen and (max-width: 768px) {
  body {
    padding: 1.5em;
  }
  .content {
      max-width: 100%;
  }
  h2 {
    font-size: 1.2em;
  }
  ul {
    display: none;
  }
}
